@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  font-family: "Work Sans", sans-serif;
}

:root {
  --font-bebas: "Bebas Neue", sans-serif;
  --body-bg: #fff;

  --primary-color: #ee900d;
  --primary-dark-variant: #D98E1A;
  --text-color: #2f3134;
  --light-border-color: #d4d4d4;
  --light-border-color2: #ebebeb;

  --redis-color: #cd3535;

  --text-color-muted: #707070;
  --text-color-primary-dark: #26795e;
  --light-primary-bg: #eaf5f1;

  --yellowish-bg: #f5f5ed;
}

[data-theme="dark"] {
  --body-bg: #030609;
  --text-color: #fff;
  --text-color2: #2f3134;
  --text-color-white: #2f3134;

  --dark-border-color: #030609;
  --light-border-color2: #cccccc32;
}

body {
  background: var(--body-bg);
  color: var(--text-color);
}

/* Navbar */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.nav-bar.active {
  background-color: var(--body-bg);
  border-bottom: 1px solid var(--light-border-color2);
}

[data-theme="dark"] .nav-bar.active {
  border-bottom: 1px solid var(--dark-border-color);
}

.logo {
  width: 160px;
}

.logo-dark {
  display: none;
}

[data-theme="dark"] .logo-light {
  display: none;
}

[data-theme="dark"] .logo-dark {
  display: inline-block;
}

.nav-link {
  font-size: 16px !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  padding: 0px !important;
  &:hover {
    color: var(--text-color) !important;
  }
}

[data-theme="dark"] .nav-link {
  color: white !important;
}

.nav-link.active {
  border-bottom: 3px solid var(--primary-color) !important;
}

.explore-btn {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  padding: 7px 20px !important;
  border-radius: 5px;
}

.theme-btn {
  background-color: transparent;
  padding: 5px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-border-color2) !important;

  &:hover {
    color: var(--primary-color);
    border-color: var(--primary-color) !important;
  }
}

[data-theme="dark"] .theme-btn {
  color: white;
  &:hover {
    color: var(--primary-color);
  }
}

[data-theme="dark"] .navbar-toggler {
  background-color: white;
}

.menu-dropdown.dropdown-menu .dropdown-item:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.menu-dropdown.dropdown-menu .dropdown-item.active,
.menu-dropdown.dropdown-menu .dropdown-item:active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

@media (max-width: 575px) {
  .logo {
    width: 120px;
  }
}

@media (max-width: 991px) {
  .nav-bar {
    background-color: var(--body-bg);
  }
}

/* Common bg */
.cmn-bg {
  background-color: var(--yellowish-bg);
}

/* Hero Section */
.hero {
  padding-top: 140px;
  padding-bottom: 40px;
  background-color: #fbfbfb;

  background:
    /* Top gradient (menu area) */
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 15%,
      rgba(255, 255, 255, 0) 35%
    ),
    /* Left gradient (text area) */
    linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 1) 45%,
        rgba(255, 255, 255, 0.7) 60%,
        rgba(255, 255, 255, 0) 85%
      ),
    url("../images/hero-img.png");

  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

[data-theme="dark"] .hero {
  background:
    /* Top gradient */
    linear-gradient(
      to bottom,
      rgba(3, 6, 9, 1) 0%,
      rgba(3, 6, 9, 1) 15%,
      rgba(3, 6, 9, 0) 35%
    ),
    /* Left gradient */
    linear-gradient(
        to right,
        rgba(3, 6, 9, 1) 0%,
        rgba(3, 6, 9, 1) 25%,
        rgba(3, 6, 9, 0.9) 45%,
        rgba(3, 6, 9, 0.6) 60%,
        rgba(3, 6, 9, 0) 85%
      ),
    url("../images/hero-img.png");

  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.hero h2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
  margin: 0;
}

.hero h1 {
  font-size: 80px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-bebas);
  line-height: 100%;
  margin: 15px 0 0 0;
  color: var(--text-color);
}

.hero h1 span {
  font-family: inherit;
  color: var(--primary-color);
}

.hero p {
  max-width: 500px;
  width: 100%;
  margin: 15px 0 0 0;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
  color: var(--text-color);
}

.hero-btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 25px 0 0 0;
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  text-transform: uppercase;
}

.primary-outline-btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  text-transform: uppercase;
  width: fit-content;

  &:hover {
    color: white;
    background-color: var(--primary-color);
  }
}

[data-theme="dark"] .primary-outline-btn {
  background-color: transparent;

  &:hover {
    color: white;
    background-color: var(--primary-color);
  }
}

.secondary-btn {
  background-color: white;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  text-transform: uppercase;

  &:hover {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
  }
}

[data-theme="dark"] .secondary-btn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;

  &:hover {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
  }
}

/* Featured Section */
.featured {
  padding: 20px 0;
  border-top: 2px solid var(--light-border-color2);
  border-bottom: 2px solid var(--light-border-color2);
  background-color: var(--body-bg);
}

.featured .row > * {
  padding: 0 !important;
}

.featured-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 20px;
  border-right: 2px solid var(--light-border-color2);
}

.row > div:last-child .featured-item {
  border-right: none;
}

.featured-item > i {
  font-size: 50px;
  color: var(--primary-color);
}

.featured-item h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

[data-theme="dark"] .featured-item h1 {
  color: var(--primary-color);
}

.featured-item p {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0 0;
  color: var(--text-color);
}

@media (max-width: 575px) {
  .featured-item {
    border-right: none;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .row > div:nth-child(even) .featured-item {
    border-right: none;
  }
}

/* What are peptide */
.what-are-peptide {
  padding: 40px 0;
  background-color: var(--body-bg);
}

.what-are-peptide-left,
.what-are-peptide-right {
  margin: 10px 0;
}

.what-are-peptide-left img {
  width: 100%;
}

.img-dark {
  display: none;
}

[data-theme="dark"] .img-dark {
  display: block;
}

[data-theme="dark"] .img-light {
  display: none;
}

.section-title-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-title-wrap h2 {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  margin: 0;
}

.section-title-wrap h1 {
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  font-family: var(--font-bebas);
  color: var(--text-color);
}

.section-title-wrap .divider-line {
  height: 3px;
  width: 100px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.what-are-peptide-right p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--text-color);
}

/*  Explore Peptides */
.explore-peptides {
  border-top: 2px solid var(--light-border-color2);
  padding: 40px 0;
  background-color: var(--body-bg);
}

.explore-peptides .row > div {
  margin: 10px 0;
}

.explore-peptide-item {
  border-top: 2px solid var(--light-border-color2);
  border: 1px solid var(--light-border-color2);
  padding: 30px 20px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;

  display: grid;
  grid-template-columns: 80px auto;
  gap: 30px;
  border-radius: 10px;
}

[data-theme="dark"] .explore-peptide-item {
  background-color: transparent;
  border-top: 2px solid var(--primary-color);
  border: 1px solid var(--primary-color);
}

.explore-peptide-item > i {
  font-size: 70px;
  color: var(--primary-color);
  margin: 0 auto;
}

.explore-peptide-item h1 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  font-family: var(--font-bebas);
  letter-spacing: 1px;
  color: var(--text-color);
}

.explore-peptide-item p {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 20px 0;
  color: var(--text-color);
}

.explore-peptide-item a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.explore-peptide-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.explore-peptide-item ul li {
  font-size: 16px;
  font-weight: 400;
  margin: 2px 0;
  color: var(--text-color);
}

@media (max-width: 767px) {
  .explore-peptide-item {
    grid-template-columns: 100%;
  }

  .explore-peptide-item > div {
    text-align: center;
  }

  .explore-peptide-item a {
    justify-content: center;
  }
}

/* Awareness */
.awareness {
  border-top: 2px solid var(--light-border-color2);
  padding: 40px 0;
  background-color: var(--body-bg);
}

.awareness .row > * {
  padding: 0 !important;
}

.awareness-item {
  margin: 10px 0;
  display: flex;
  gap: 30px;
  padding: 20px 20px;
  border-right: 2px solid var(--light-border-color2);
}

.row > div:last-child .awareness-item {
  border-right: none;
}

.awareness-item > i {
  font-size: 50px;
  color: var(--primary-color);
}

.awareness-item h1 {
  margin: 0;
  font-size: 22px;
  text-transform: uppercase;
  font-family: var(--font-bebas);
  color: var(--text-color);
}

.awareness-item p {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 20px 0;
  color: var(--text-color);
}

.awareness-item a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 575px) {
  .awareness-item {
    border-right: none;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .row > div:nth-child(even) .awareness-item {
    border-right: none;
  }
}

/* Footer */
.footer {
  border-top: 2px solid var(--light-border-color2);
  padding: 20px;
  background-color: var(--body-bg);
}

.footer-item {
  margin: 10px 0;
  border-right: 2px solid var(--light-border-color2);
  height: 100%;
}

.row > div:last-child .footer-item {
  border-right: none;
}

.footer-item p {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  color: var(--text-color);
}

.footer-item h1 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font-bebas);
  margin: 0 0 10px 0;
  color: var(--text-color);
}

.footer-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-item ul li {
  margin: 10px 0;
}

.footer-item ul li a {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

[data-theme="dark"] .footer-item ul li a:hover {
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .footer-item {
    border-right: none;
  }
}

/* Copyright */

.copyright-footer {
  padding: 20px 0;
  border-top: 2px solid var(--light-border-color2);
  background-color: var(--body-bg);
}

.copyright-footer p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
}

.copyright-footer h2 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
}

/* To Top */
.to-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  z-index: 2;

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

/* Popup Info */
.popup-info {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  cursor: pointer;
}

.popup-in {
  max-width: 500px;
  width: 96%;
  padding: 30px 15px;
  border-radius: 10px;
  background-color: var(--body-bg);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  position: relative;
}

.popup-in > i {
  color: var(--primary-color);
  font-size: 50px;
}

.popup-in h1 {
  font-family: var(--font-bebas);
  font-size: 50px;
  font-weight: 500;
  margin: 10px 0 0 0;
}

.popup-in p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.popup-in button {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
}

/*  Case Studies */
.case-studies {
  padding: 40px 0;
  background-color: var(--body-bg);
  border-top: 2px solid var(--light-border-color2);
}

.case-studies .row > div {
  margin: 10px 0;
}

.case-studies-item {
  border-top: 2px solid var(--light-border-color2);
  border: 1px solid var(--light-border-color2);
  padding: 30px 20px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100%;

  display: flex;
  gap: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--text-color);
}

.case-studies-item .img-wrapper {
  width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid var(--light-border-color2);
  padding: 2px;
}

[data-theme="dark"] .case-studies-item .img-wrapper {
  border: 1px solid var(--primary-color);
}

.case-studies-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.case-studies-item h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.case-studies-item p {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 400;
}

[data-theme="dark"] .case-studies-item {
  background-color: transparent;
  border-top: 2px solid var(--primary-color);
  border: 1px solid var(--primary-color);
}

@media (max-width: 767px) {
  .case-studies-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* Library Section */

.library-section {
  padding: 120px 0 40px 0;
  background-color: var(--body-bg);
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-header h2 {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.section-header h1 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.section-header p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: var(--text-color-muted);
  max-width: 800px;
  width: 100%;
}

.library-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.category-btn {
  background-color: white;
  border: 1px solid var(--light-border-color2);
  color: var(--text-color);
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
}

[data-theme="dark"] .category-btn 
{
  color: var(--text-color-white);
}

.category-btn.active {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-dark-variant);
}

@media (max-width: 575px) {
  .library-header h1 {
    font-size: 35px;
  }

  .category-btn {
    font-size: 14px;
  }
}

.products-wrapper {
  margin-top: 20px;
}

.product-item {
  margin: 10px 0;
  background-color: white;
  border: 1px solid var(--light-border-color2);
  padding: 20px;
  border-radius: 10px;
}

[data-theme="dark"] .product-item 
{
  background-color: transparent;
   border: 1px solid var(--primary-color);
}

.product-img {
  background-color: var(--yellowish-bg);
  border-radius: 5px;
}

.product-img img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-category {
  padding: 5px 10px;
  color: var(--text-color);
  background-color: var(--primary-dark-variant);
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
  border-radius: 30px;
}

.product-content h1 {
  font-size: 24px;
  margin: 0;
  font-family: var(--font-bebas);
  color: var(--text-color);
}

.product-content p {
  margin: 0;
  font-size: 14px;
   color: var(--text-color);
}

.product-content a {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 6px 10px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

/* Faq */
.faq {
  padding: 40px 0;
  border-top: 2px solid var(--light-border-color2);
  background-color: var(--body-bg);
}

.faq-wrapper .accordion-item {
  margin-bottom: 15px;
  border-radius: 5px !important;
  overflow: hidden;
}

.faq-wrapper .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-wrapper .accordion-item button {
  font-size: 16px;
  font-weight: 500;
}

.faq-wrapper .accordion-button:not(.collapsed) {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.faq-wrapper .accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.faq-wrapper .accordion-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-wrapper .accordion-body p {
  margin: 0;
}

/* Contact */
.contact {
  padding: 40px 0;
  border-top: 2px solid var(--light-border-color2);
  background-color: var(--body-bg);
}

.form-wrapper {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: var(--yellowish-bg);
}

[data-theme="dark"] .form-wrapper 
{
  background-color: white;
}

.input-wrapper {
  margin: 10px 0;
}

.input-wrapper label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.input-wrapper input,
.input-wrapper textarea {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid var(--light-border-color);
}

.input-wrapper textarea {
  height: 100px;
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

.contact-submit-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
}

@media (max-width: 575px) {
  .form-wrapper {
    padding: 20px;
  }
}

/* Product details */
.product-details {
  padding: 50px 0 0 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
}

.breadcrumbs a {
  color: var(--text-color-muted);
  text-decoration: none;
}

.breadcrumbs i {
  color: var(--text-color-muted);
  font-size: 12px;
}

.breadcrumbs span {
  color: var(--primary-color);
}

.product-det-left,
.product-det-right {
  margin: 10px 0;
}

.product-det-left .owl-stage {
  display: flex !important;
  align-items: stretch !important;
  margin: 10px 0;
}

.product-det-left .owl-item {
  display: flex !important;
  align-items: stretch !important;
}

.product-det-left .owl-item .item {
  width: 100%;
}

.product-det-item {
  height: 100%;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  border: 1px solid var(--light-border-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-det-item img,
.product-det-item video {
  height: 400px;
  width: 100%;
  object-fit: contain;
}

.product-category-white {
  padding: 5px 10px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: white;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
}

.product-det-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-det-right h1 {
  font-size: 35px;
  font-weight: 600;
  margin: 0;
}

.product-det-right h4 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.product-det-right > p {
  font-size: 16px;
  color: var(--text-color-muted);
}

.product-point {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-point-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 0;
  border-bottom: 1px solid #ccc;
}

.product-point-item .icon {
  height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: var(--light-primary-bg);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.product-point-item .icon img {
  width: 20px;
}

.product-point-item p b {
  font-weight: 500;
  color: var(--text-color);
}

.product-point-item p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-muted);
}

.product-formate-item {
  background-color: white;
  border: 1px solid var(--light-border-color2);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-formate-item i {
  font-size: 16px;
  color: var(--primary-color);
}

.product-formate-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.coa-btn {
  padding: 14px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  text-decoration: none;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 575px) {
  .product-det-item img,
  .product-det-item video {
    height: auto;
  }
}

/* Lab Report  */
.lab-report {
  padding: 40px 0 0 0;
}

.lab-report > .container > .row > div {
  margin: 10px 0;
}

.lab-report-left,
.lab-report-right {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
}

.lab-report-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-border-color2);
}

.chemical-report-wrapper {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-border-color2);
}

.chemical-report-box {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chemical-report-box .icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc68;
  border-radius: 5px;
  color: var(--primary-color);
}

.chemical-report-box h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-muted);
  text-transform: uppercase;
}

.chemical-report-box p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.chemical-structure-img-wrapper img {
  max-width: 300px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.chemical-structure-img-wrapper h3 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color-muted);
  text-transform: uppercase;
  text-align: center;
}

.lab-report-purity {
  padding: 10px;
  border: 1px solid var(--primary-color);
  background-color: var(--light-primary-bg);
  color: var(--primary-color);
  border-radius: 5px;
  margin: 10px 0;
}

.lab-report-purity h3 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.lab-report-purity h2 {
  margin: 10px 0 0 0;
  font-size: 25px;
  font-weight: 600;
}

.endoxin-report {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-border-color2);
}

.endoxin-report h3 {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-muted);
  margin: 0;
  text-transform: uppercase;
}

.endoxin-report h2 {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.endoxin-report img {
  width: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.previous-batch h1 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: var(--text-color-muted);
  margin: 0;
  text-transform: uppercase;
}

.prev-batch-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-border-color2);
}

.prev-batch-list h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.prev-batch-list p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

/* Product Description */
.product-desc {
  padding: 40px 0 0 0;
}

.product-desc-in {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.product-desc-in h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  color: var(--primary-color);
}

.product-desc-in p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-muted);
  margin: 10px 0 0 0;
}

/* Research use only */
.research-use {
  padding: 40px 0 0 0;
}

.research-use-in {
  border: 2px solid #f1c40f;
  background-color: #f1c40f10;
  padding: 20px;
  border-radius: 10px;
}

.research-use-in p {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-muted);
}

/* Disclaimer */
.disclaimer {
  padding: 40px 0;
}

.disclaimer-in {
  border: 2px solid var(--redis-color);
  background-color: var(--body-bg);
  padding: 20px;
  border-radius: 10px;
}

.disclaimer-in h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--text-color-muted);
}

.disclaimer-in p {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-muted);
}

/* About Us */

.about-us {
  padding: 40px 0;
  border-top: 2px solid var(--light-border-color2);
  background-color: var(--body-bg);
}

.subpage-top-padding {
  padding-top: 120px;
}

.about-us-left,
.about-us-right {
  margin: 10px 0;
}

.about-us-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-us-left h2 {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.about-us-left h1 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.about-us-left p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: var(--text-color);
  max-width: 800px;
  width: 100%;
}

.about-us-left ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.about-us-left ul li {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 0 0;
  color: var(--text-color);
}

.error-msg {
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0 0 0;
  color: red;
  display: none;
}

/* How peptides work */
.how-peptides-work {
  padding: 40px 0;
  background-color: var(--body-bg);
  border-top: 2px solid var(--light-border-color2);
}

.how-peptides-work h3 {
  margin: 25px 0 0 0;
  font-size: 20px;
}

[data-theme="dark"] .how-peptides-work h3 {
  color: #fff;
}

.how-peptides-work .row > * {
  padding: 0 !important;
}

.how-peptides-work .row > div {
  margin: 10px 0;
}

.how-peptide-work-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 20px;
  border-right: 2px solid var(--light-border-color2);
  text-align: center;
  height: 100%;
}

.row > div:last-child .how-peptide-work-item {
  border-right: none;
}

.how-peptide-work-item > img {
  width: 100px;
}

.how-peptide-work-item h1 {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--font-bebas);
}

[data-theme="dark"] .how-peptide-work-item h1 {
  color: var(--primary-color);
}

.how-peptide-work-item p {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0 0;
  color: var(--text-color);
}

@media (max-width: 575px) {
  .how-peptide-work-item {
    border-right: none;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .row > div:nth-child(even) .how-peptide-work-item {
    border-right: none;
  }
}

/* Safety Data Sheet */

.safety-data-sheet {
  padding: 40px 0 0 0;
}

.safety-data-sheet .accordion-item {
  margin-bottom: 15px;
  border-radius: 5px !important;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.safety-data-sheet .accordion-item:last-child {
  margin-bottom: 0;
}

.safety-data-sheet .accordion-item button {
  font-size: 28px;
  padding-block: 20px;
  letter-spacing: 1px;
  font-family: var(--font-bebas);
}

.safety-data-sheet .accordion-button:not(.collapsed) {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.safety-data-sheet .accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.safety-data-sheet .accordion-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.safety-data-sheet .accordion-body p {
  margin: 0;
}

.sds-item {
  margin-bottom: 10px;
}

.sds-title {
  background-color: var(--light-border-color2);
  padding: 10px;
  border-left: 2px solid var(--primary-color);
}

.sds-title p {
  margin: 0;
  font-size: 16px;
}

.sds-content {
  padding-top: 10px;
}
.sds-content p {
  margin: 0;
  font-size: 16px;
}

.sds-warning {
  border: 1px solid #f1c40f;
  background-color: #f1c40f10;
  padding: 20px;
  border-radius: 10px;
}

.sds-formula {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px 0;
  border-bottom: 1px solid var(--light-border-color2);
}

.sds-formula p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.sds-content li {
  margin: 0;
  font-size: 14px;
}

.print-pdf-btn {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px !important;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px !important;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

@media (max-width: 575px) {
  .safety-data-sheet .accordion-item button {
    font-size: 24px;
  }
}
