@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Outfit", sans-serif;
  /* font-family: "Work Sans", sans-serif; */
}

:root {
  --primary-color: #309776;
  /* --primary-color:#45a184; */
  --text-color: #333;
  --text-color-muted: #707070;
  --text-color-primary-dark: #26795e;
  --light-primary-bg: #eaf5f1;
  --light-border-color: #d4d4d4;
  --yellowish-bg: #f5f5ed;
  --odritual-red: #cd3535;
  --light-border-color2: #ebebeb;
}

body {
  color: var(--text-color);
}

/* Navbar */
.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
}

.logo-text {
  font-size: 25px !important;
  font-weight: 600;
}

.logo-text span {
  color: var(--primary-color);
}

.nav-link {
  font-size: 18px !important;
  &:hover {
    color: var(--primary-color) !important;
  }
}

/* Common bg */
.cmn-bg {
  background-color: var(--yellowish-bg);
}

/* Library Section */

.library-section {
  padding: 80px 0 0 0;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-header h2 {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.section-header h1 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.section-header p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: var(--text-color-muted);
  max-width: 800px;
  width: 100%;
}

.library-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.category-btn {
  background-color: white;
  border: 1px solid var(--text-color-muted);
  color: var(--text-color-muted);
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
}

.category-btn.active {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--light-primary-bg);
}

@media (max-width: 575px) {
  .library-header h1 {
    font-size: 35px;
  }

  .category-btn {
    font-size: 14px;
  }
}

.products-wrapper {
  margin-top: 20px;
}

.product-item {
  margin: 10px 0;
  background-color: white;
  border: 1px solid var(--light-border-color);
  padding: 20px;
  border-radius: 10px;
}

.product-img {
  background-color: var(--yellowish-bg);
  border-radius: 5px;
}

.product-img img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-category {
  padding: 5px 10px;
  color: var(--text-color-primary-dark);
  background-color: var(--light-primary-bg);
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
  border-radius: 30px;
}

.product-content h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.product-content p {
  margin: 0;
  font-size: 14px;
  color: var(--text-color-muted);
}

.product-content a {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 6px 10px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  background-color: var(--light-primary-bg);
}

/* Faq */
.faq {
  padding: 80px 0 0 0;
}

.faq-wrapper .accordion-item {
  margin-bottom: 15px;
  border-radius: 5px !important;
  overflow: hidden;
}

.faq-wrapper .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-wrapper .accordion-item button {
  font-size: 16px;
  font-weight: 500;
}

.faq-wrapper .accordion-button:not(.collapsed) {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.faq-wrapper .accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.faq-wrapper .accordion-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-wrapper .accordion-body p {
  margin: 0;
}

/* Contact */
.contact {
  padding: 80px 0;
}

.form-wrapper {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: white;
}

.input-wrapper {
  margin: 10px 0;
}

.input-wrapper label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.input-wrapper input,
.input-wrapper textarea {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid var(--light-border-color);
}

.input-wrapper textarea {
  height: 100px;
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

.contact-submit-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
}

@media (max-width: 575px) {
  .form-wrapper {
    padding: 20px;
  }
}

/* Footer */
.footer {
  padding: 20px;
}

.footer p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* To Top */
.to-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  z-index: 2;
}

/* Product details */
.product-details {
  padding: 50px 0 0 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
}

.breadcrumbs a {
  color: var(--text-color-muted);
  text-decoration: none;
}

.breadcrumbs i {
  color: var(--text-color-muted);
  font-size: 12px;
}

.breadcrumbs span {
  color: var(--primary-color);
}

.product-det-left,
.product-det-right {
  margin: 10px 0;
}

.product-det-left .owl-stage {
  display: flex !important;
  align-items: stretch !important;
  margin: 10px 0;
}

.product-det-left .owl-item {
  display: flex !important;
  align-items: stretch !important;
}

.product-det-left .owl-item .item {
  width: 100%;
}

.product-det-item {
  height: 100%;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  border: 1px solid var(--light-border-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-det-item img,
.product-det-item video {
  height: 400px;
  width: 100%;
  object-fit: contain;
}

.product-category-white {
  padding: 5px 10px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: white;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
}

.product-det-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-det-right h1 {
  font-size: 35px;
  font-weight: 600;
  margin: 0;
}

.product-det-right > p {
  font-size: 16px;
  color: var(--text-color-muted);
}

.product-point {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-point-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 0;
  border-bottom: 1px solid #ccc;
}

.product-point-item .icon {
  height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: var(--light-primary-bg);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.product-point-item .icon img {
  width: 20px;
}

.product-point-item p b {
  font-weight: 500;
  color: var(--text-color);
}

.product-point-item p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-muted);
}

.coa-btn {
  padding: 14px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  text-decoration: none;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 575px) {
  .product-det-item img,
  .product-det-item video {
    height: auto;
  }
}

/* Lab Report  */
.lab-report {
  padding: 50px 0 0 0;
}

.lab-report > .container > .row > div 
{
  margin: 10px 0;

}

.lab-report-left,
.lab-report-right {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
    height: 100%;
}

.lab-report-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-border-color2);
}

.chemical-report-wrapper {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-border-color2);
}

.chemical-report-box {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chemical-report-box .icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc68;
  border-radius: 5px;
  color: var(--primary-color);
}

.chemical-report-box h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-muted);
  text-transform: uppercase;
}

.chemical-report-box p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.chemical-structure-img-wrapper img {
  max-width: 300px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.chemical-structure-img-wrapper h3 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color-muted);
  text-transform: uppercase;
  text-align: center;
}

.lab-report-purity {
  padding: 10px;
  border: 1px solid var(--primary-color);
  background-color: var(--light-primary-bg);
  color: var(--primary-color);
  border-radius: 5px;
  margin: 10px 0;
}

.lab-report-purity h3 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.lab-report-purity h2 {
  margin: 10px 0 0 0;
  font-size: 25px;
  font-weight: 600;
}

.endoxin-report {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
    padding-bottom: 15px;
  border-bottom: 1px solid var(--light-border-color2);
}

.endoxin-report h3 {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-muted);
  margin: 0;
  text-transform: uppercase;
}

.endoxin-report h2 {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.endoxin-report img {
  width: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.previous-batch h1 
{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
    color: var(--text-color-muted);
    margin: 0;
    text-transform: uppercase;
}

.prev-batch-list 
{
  margin-top: 10px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-border-color2);
}

.prev-batch-list h2 
{
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.prev-batch-list p 
{
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}


/* Product Description */
.product-desc {
  padding: 50px 0 0 0;
}

.product-desc-in {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.product-desc-in h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  color: var(--primary-color);
}

.product-desc-in p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-muted);
  margin: 10px 0 0 0;
}

/* Research use only */
.research-use {
  padding: 50px 0 0 0;
}

.research-use-in {
  border: 1px solid var(--odritual-red);
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.research-use-in h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: var(--text-color-muted);
}

.research-use-in p {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color-muted);
}

/* About Us */
.about-us {
  padding: 80px 0 0 0;
}

.about-us-left,
.about-us-right {
  margin: 10px 0;
}

.about-us-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-us-left h2 {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.about-us-left h1 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.about-us-left p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: var(--text-color-muted);
  max-width: 800px;
  width: 100%;
}

.about-us-left ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.about-us-left ul li {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 0 0;
  color: var(--text-color-muted);
}

.error-msg
{
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0 0 0;
  color:red;
  display: none;
}